/*Media-Queries*/
@charset "UTF-8";

/*
------------
    Tablets |
------------
*/

@media screen and (min-width:768px) and (max-width:992px) {
    section#login { height: 280px;
        width: 90vw;
        box-shadow: 
        inset  12px -12px 42px #0c0c0c,
      inset          -12px 12px 42px #555555;

    }
    div#imagem{
float: left;
width: 35%;
height: 100vh;
    }
    body {
        background-image: linear-gradient(to top, #131313, #623d7a);
    }
    div#formulario {
float: right;
width: 65%;
height: 100vh;
}
}

/*
-------------------------------
Telas Maiores: Desktops, TV's |
-------------------------------
*/

@media screen and (min-width:992px) {
    section#login { box-shadow: 
      inset  12px -12px 42px #0c0c0c,
    inset          -12px 12px 42px #555555;

width: 950px;
height: 350px;
    }
    div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }
    body {
        background-image: linear-gradient(to top,  #131313, #623d7a);
    }
        div#formulario {
        float: left;
    width: 50%;
    height: 100%;    
    }
    div#formulario > h1 {
font-size: 1.8em;
    }
    div#formulario >p {
        font-size: 0.9em;
    }
}
